
<%- include("navbar.ejs")  %>

<div class="blog-container">
    <% blogs.forEach((blog)=>{ %>
        <div class="blog-card">
            <h2> <%- blog.title %> </h2>
            <h3><%- blog.subtitle %></h3>
            <p><%- blog.description %></p>
            <a href="/single/<%- blog.id %>">See More</a>
          </div>

    <% }) %>

 
 




</div>

</body>
</html>
