<%- include('navbar.ejs')  %>

<div class="page-content">
  <div class="blog-card">
    <h1> <%- allBlogs[0].title %> </h1>
    <h2><%- allBlogs[0].subtitle %> </h2>
    <p> <%- allBlogs[0].description %></p>
    <a href="/delete/<%-allBlogs[0].id %>">Delete Me</a>
    <a href="/edit/<%- allBlogs[0].id %>">Edit Me</a>
  </div>
</div>

</body>
</html>
